@import "tailwindcss";

@theme {
    --color-cyber-background: #0D0D16;
    --color-cyber-background-rgb: 13, 13, 22;
    --color-neon-cyan: #00F0FF;
    --color-neon-cyan-rgb: 0, 240, 255;
    --color-neon-pink: #FF007F;
    --color-neon-pink-rgb: 255, 0, 127;
    --color-neon-yellow: #FFEA00;
    --color-neon-yellow-rgb: 255, 234, 0;
    --color-text-primary: #FFFFFF;
    --color-text-primary-rgb: 255, 255, 255;
    --font-cyber: "Orbitron", sans-serif;
}
